body {
    background-color: #eee;
}

ul {
    list-style: none;
}

.App {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.note {
    background-color: #fff;
    padding: 16px;
}

.note h3 {
    margin: 8pax 0 16px 0;
}

.note .bottom {
    display: flex;
    margin-top: 20px;
}

.note .date {
    margin-right: ;
    font-size: 14px;
}
